<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="text/javascript">
        function types() {
            var str = "str";
            console.log(typeof (str));

            var number = 123;
            console.log(typeof (number));

            var array = [];
            console.log(typeof (array));
        }

        function input() {
            //++, -- 可用
            //---------------------
            //输入 prompt()，输出 alert()；
            var input1 = prompt("please input:", 1);//默认
            var input2 = prompt("please input:", 2);
            var op = prompt("please input the operation:(+,-,*,/)", "+");

            input1 = Number(input1);//将字符类型转换为数字类型；
            input2 = Number(input2);
            //
            var result;
            if (op === "+") {
                result = input1 + input2;
            } else if (op === "-") {
                result = input1 - input2;
            } else if (op === "*") {
                result = input1 * input2;
            } else if (op === "/") {
                result = input1 / input2;
            } else {
                alert("Wrong operation!");
            }
            alert(result);
            alert(z);
        }

        function str() {
            var str = "aa,bc,dc,sd";
            var strs = str.split(',');
            console.log("strs len: " + strs.length);
            strs.forEach(function (obj) {
                console.log(obj);
            });

            var index = str.search("b");
            console.log("在str中查找b: " + index);

            index = str.indexOf("cd");
            console.log("在str中查找cd: " + index);

            let upcase = str.slice(0,1).toUpperCase() + str.slice(1).toLowerCase();
            console.log(upcase);

            //替换
            str = '[20220704_001, 20220704_002]';
            str = str.replace(/\[|\]/g, '_');
            console.log(str);

            //
        }

        function num() {
            var num = 100;
            var t = num / 3;
            console.log(t + ", " + typeof t);
            var t2 = t.toFixed(2);
            console.log("保留两位小数：" + t2 + ", " + typeof t2)

            let str = num.toString();//String(num);
            console.log(typeof str);

            let random1 = random(1,10);
            let random2 = randomInt(1,10);
            console.log("random1: " + random1 + ", random2: " + random2);

            let f = 4392 * 100 / 4393;
            console.log(": " + f.toFixed(2));
        }

        /**
         * 随机数，含小数
         * @param min
         * @param max
         * @returns {*}
         */
        function random(min,max){
            return Math.random()*(max-min)+min;
        }

        /**
         * 随机数，向下取整
         * @param min
         * @param max
         * @returns {number}
         */
        function randomInt(min,max){
            return Math.floor(Math.random()*(max-min) +min);
        }

        function array() {
            var array = [];
            array.push("123");
            array.push("231");
            array.push("321");
            array.push("111");
            array.push("222");
            array.push("333");
            // var len = array.push("231");
            var len = array.length;
            console.log("array len: " + len + ", " + typeof array);

            array.forEach(function (key) {
                console.log('value: ' + key);
            })

            //截取
            let copy = array.slice(2, 4);
            copy.forEach(function (value, index) {
                console.log('value: ' + value + ", index: " + index);
            })

            //删除
            array.splice(1, 3);
            array.forEach(function (key) {
                console.log('value: ' + key);
            })
        }

        function map() {
            var map = new Map();
            map.set("1", "a");
            map.set("2", "b");
            map.set("3", "c");
            map.set("4", "d");
            map.set("5", "e");

            console.log("map len: " + Object.keys(map).length + ", " + typeof map);
            map.forEach(function (value, key, map) {
                if (key === '3') {
                    console.log("强行终止！")
                    return false;
                }
                console.log("key " + key + ", value " + value);
            })

            var keys = Array.from(map.keys());
            keys.forEach(function (obj) {
                console.log("key " + obj);
            })
        }

        function json() {
            var str = '{"cloud":"91","cond_code":"101","cond_txt":"多云","fl":"33","hum":"71","pcpn":"0.0","pres":"995",' +
                '"tmp":"31","vis":"30","wind_deg":"359","wind_dir":"北风","wind_sc":"3","wind_spd":"16"}'
            var jsonObj = JSON.parse(str);
            console.log(jsonObj);

            console.log("天气：" + jsonObj['cond_txt']);
            console.log("温度：" + jsonObj['tmp']);
        }

        function testDocument() {
            let arrs = document.getElementsByTagName('input');
            console.log('选取 input: ' + arrs.length);
            for(var i=0; i<arrs.length; i++){
                if(arrs[i].getAttribute('type')==='checkbox'){
                    console.log('发现 checkbox: ' + i);
                }
            }
        }

        //////////////////动态函数////////////
        function test(funcName) {
            let param = 1;
            try{
                if (typeof (eval(funcName)) == "function") {
                    console.log(eval(funcName + "(\'"+ param + "\');"));//传参
                } else {
                    // 函数不存在
                    console.log("函数不存在");
                }
            }catch (e) {
                console.log("函数不存在2");
            }
        }

        function dynamicalFuncion(p1) {
            return '动态函数: ' + p1;
        }

        // test("dynamicalFuncion");
        // test("dynamicalFuncion2");

    </script>
</head>
<body>
<input type="button" value="type" onclick="types()">
<br/>
<input type="button" value="str" onclick="str()">
<br/>
<input type="button" value="num" onclick="num()">
<br/>
<input type="button" value="array" onclick="array()">
<br/>
<input type="button" value="map" onclick="map()">
<br/>
<input type="button" value="json" onclick="json()">
<br/>

<input type="checkbox">
<input type="checkbox">
<input type="checkbox">
<input type="checkbox">

<br/>
<!--如果页面在服务器上，浏览器出于安全考虑是不允许html访问本地文件的-->
<img src="file://C:\Users\Administrator\Desktop\img\111.jpg" alt="miss">

<script type="text/javascript">
    // testDocument();
</script>
</body>
</html>