<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>My 网页</title>
</head>
<body>
	<h2>My protriat</h2>
	<img src="#" width="100" height="100" alt="portrait"/>
	<hr/>
	<h2>Web sites</h2>
	<ul>
		<li><a href="https://www.google.com/">Google</a></li>
		<li><a href="https://www.baidu.com/">Baidu</a></li>
		<li><a href="https://www.taobao.com/">Taobao</a></li>
	</ul>
	<h2>Table</h2>
	<table border="1" width="300" cellpadding="5">
		<tr>
			<td><b>Name</b></td>
			<td>Genre</td>
			<td>Attack</td>
		</tr>
		<tr>
			<td><u>jeck</u></td>
			<td><i>shooter</i></td>
			<td>9</td>
		</tr>
	</table>
</body>
</html>