<!DOCTYPE html>
<html>
<head>
	<title>Video</title>
	<meta charset="utf-8"/>
	<script type="text/javascript">//javascript codes;
		var v,t;
		var tot,m,s;
		function init(){
			v=document.getElementById("video");
			v.addEventListener("timeupdate", timer);
			t=document.getElementById("time");
			tot=Math.round(v.duration);//四舍五入
			m=Math.floor(tot/60);//向下取整；Math.ceil() 向上取整。
			s=tot-60*m;
		}
		/*
		window.onload=function (){
		
		};
		*/
		//self define;
		function play(){
			v.play();
		}
		function pause(){
			v.pause();
		}
		function replay(){
			v.currentTime=0;//reset time
			v.play();
		}
		function timer(){
			var ctm,cts;
			ctm=Math.floor(v.currentTime/60);
			cts=Math.floor(v.currentTime-ctm*60);
			if(cts<10){
				t.innerHTML="0"+ctm+":0"+cts+"/0"+m+":0"+s;
			}else{
				t.innerHTML="0"+ctm+":"+cts+"/0"+m+":0"+s;
			}
		}
	</script>
		
	<style type="text/css">
		.cvideo{width:70%; height:70%;}
	</style>
</head>
<body onload="init();">
	<video class="cvideo" id="video" src="D:\视频\short movie\一舞倾城.mp4" controls></video>
	<div>
	<button onclick="play();">Play</button>
	<button onclick="pause()">Pause</button>
	<button onclick="replay()">Replay</button>
	<span id="time"></span>
	</div>
</body>
</html>