<!DOCTYPE html>
<html>
<head>
	<title>java script</title>
	<meta charset="utf-8"/>
	<script type="text/javascript">
		alert("hello");
		alert("大家好");//输出语句；
		
		var x,y,z;//var 表示变量，自动分辨变量类型；
		x=1;
		y=5;
		z="bye bye!";
		alert(x+y);
		
		//---------------------
		//输入 prompt()，输出 alert()；
		var input1 = prompt("please input:", 1);
		var input2 = prompt("please input:", 2);
		var op = prompt("please input the operation:(+,-,*,/)", "+");
		
		input1 = Number(input1);//将字符类型转换为数字类型；
		input2 = Number(input2);
		//
		var result;
		if(op=="+"){
			result = input1+input2;
		}else if(op=="-"){
			result = input1-input2;
		}else if(op=="*"){
			result = input1*input2;
		}else if(op=="/"){
			result = input1/input2;
		}else{
			alert("Wrong operation!");
		}
		alert(result);
		alert(z);
		
		//=======================
		//loop
		var sum=0;
		var i=1;
		while(i<=100){
			sum+=i;
			i++;
		}
		
		//or 
		//for(var i=1; i<=100;i++){
		//	sum+=i;
		//}
		alert(sum);
	</script>
</head>
<body>
	<div>Hello!</div>
</body>
</html>