<!DOCTPYE html>
<html>
<head>
	<title>Function</title>
	<meta charset="utf-8"/>
	<script type="text/javascript">
	function sum(a,b){
		a = Number(a);
		b = Number(b);
		alert(a+b);
	}
	var input1 = prompt("please input:", 1);
	var input2 = prompt("please input:", 2);
	sum(input1,input2);
	
	//accumulate;
	function getadd(min,max){
		var sum=0;
		for(var i=min; i<=max; i++){
			sum+=i;
		}
		return sum;
	}
	var a1 = 1;
	var a2 = 100;
	alert(getadd(a1,a2));
	</script>
</head>
<body>
</body>
</html>