<!DOCTYPE html>
<html>
<head>
	<meta charset="ntf-8"/>
	<title>CSS</title>
	<style type="text/css">/*class 选择器*/
	.block{padding:10px; border:1px dashed red; margin-top: 10px; width:300px}
	.title{font-weight:bold; font-size:15px}
	.keyWord{font-weight:bold; color:red}
	.box{
	position:absolute; left:100px; top:100px;
	width:50px; height:50px; background-color:blue
	}
	.pos{position:relative; top:-5px;font-size:10px}
	</style>
</head>
<body>
	<div class="title">今天天气不错啊！</div>
	<div>好想去跑个步！</div>
	<div><span class="keyWord">约</span><u>不约</u>！</div>
	<hr/>
	<div class="box"></div>
	<div>怎么把<br/>我们<br/>拆开呢？</div>
	<hr/>
	<div class="block">
	我们永远在一起<br/>你愿意吗？
	</div>
	<hr/>
	<div class="block">
	你不要走<br/>可以吗？
	</div>
	<hr/>
	<div>
	x<span class="pos">2</span>+y<span class="pos">3</span>=z<span class="pos">1/2</span>
	</div>
</body>
</html>
