<!DOCTYPE html>
<html>
<head>
	<title>Semantic Element</title>
	<meta charset="utf-8"/>
	<script type="text/javascript">//javascript codes;
		function init(){
			
		}
		/*
		window.onload=function (){
		
		};
		*/
	</script>
	
	<style type="text/css">
	/*use the Label selector*/
	/* dashed or solid */
	header{font-family:"New Time Rome"; font-size:35px; font-weight:bold; text-align:center;}
	nav{font-size:18px; margin-top:8px;}
	main{border:1px dashed #00ffff; margin-top:10px; margin-bottom:10px; padding:5px;}
	article{font-size:24px; font-family:"华文楷体"; }
	aside{font-size:15px; font-family:"仿宋"; text-align:right;}
	footer{color:#66ccff;text-decoration:underline }
	
	</style>
</head>
<body onload="init();">
	<header>How to make the life more beautiful?</header>
	<nav>2019-04-07  20:00  myhl</nav>
	<main> 
		<article>Main contents</article>
		<aside>comments</aside>
	</main>
	<footer>The bottom text</footer>
<!--
	<div clas="header">Title</div>
	<div clas="nav">Navagation</div>
	<div clas="main"> 
		<div clas="article">Main contents</div>
		<div clas="aside">comments</div>
	</div>
	<div clas="footer">The bottom text</div>
-->
</body>
</html>