<!DOCTYPE html>
<html>
<head>
	<title>Time CountDown</title>
	<meta charset="utf-8"/>
	<script type="text/javascript">//javascript codes;
		var timer;
		function init(){
			timer=document.getElementById("time");
			var b=document.getElementById("btn");
			var handler=function(){
				window.setInterval(countdown, 1000);
			}
			b.addEventListener("click", handler);
			
		}
		function countdown(){
			if(timer.innerHTML>0){
				timer.innerHTML-=1;
			}else{
				document.location="https://www.youtube.com/";
			}
		}
	</script>
	
</head>
<body onload="init();">
	<button id="btn"> YouTube </button>	<span id="time">3</span>
</body>
</html>