<!DOCTYPE html>
<html>
<head>
	<title>Object</title>
	<meta charset="utf-8"/>
	<script type="text/javascript">
	//built a empty object;
	var obj = new Object();
	//declare the member variate;
	obj.x = 3;
	obj.y = 5;
	obj.getSum = function(){
		alert(this.x + this.y);
	};
	//call obj;
	obj.getSum();
	
	//-----------------------------------
	//built a object template;
	function Player(name,hp){
		//this => 
		this.name=name;
		this.hp=hp;
		this.fight=function(){
			this.hp-=3;
		}
		this.rest=function(){
			this.hp+=2;
		}
		this.report=function(){
			alert("Name:  " + this.name + "  Hp:  " + this.hp);
		}
	}
	
	var p1 = new Player("Jack",100);
	var p2 = new Player("Nava",110);
	p1.fight();
	p2.fight();
	p1.report();
	p2.report();

	</script>
</head>
<body>
	<div>That is all.</div>
</body>
</html>